.weather-now {
    margin-top: 45px;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: 0;
    transform: translateY(200%);
    transition: 550ms;

    & svg path {
        stroke: #fff;
    }

    & .whole-day {
        display: flex;
        font-size: 20px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;

        &__min {
            margin-right: 15px;
            display: flex;
        }

        &__max {
            display: flex;
        }
    }

    &-ico {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: 120px;
    }

    &__info {
        width: 100%;
    }

    & .current-deg {
        font-size: 64px;
        line-height: 64px;
        font-weight: 700;

        &__num {
            margin-right: 5px;
        }

        &__units {
            cursor: pointer;
            opacity: .3;
            position: relative;
            margin-left: 25px;

            &.active {
                opacity: 1;
            }

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: -20px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 5px solid #fff;
            }
        }
    }

    & .weather-conditions {
        font-weight: 300;
    }

    &.show{
        opacity: 1;
        transform: translateY(0);
    }
}

.cel {
    margin-left: 8px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -5px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        border: 1px solid #fff;
    }
}