.weather {
    height: 100vh;
    width: 100vw;
    background: url(./first-launch.png) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
        transition: 250ms;
        background: url(./active.png) no-repeat 50% 50%;
    }
}