.weather {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;

    & .first-img {
        position: fixed;
        transition: 500ms;
        opacity: 1;
        z-index: 1;
        pointer-events: none;

        &.hide {
            opacity: 0;
        }
    } 

    & .active-img {
        position: fixed;
        pointer-events: none;
    }
}