.weather-items {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    color: #fff;
    transform: translateY(100%);
    opacity: 0;
    transition: 250ms all;

    &.show {
        transform: translateY(0);
        opacity: 1;
    }


    & .weather-item {
        width: calc(100% / 7 - 20px);
        border-radius: 4px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.active {
            border: 2px solid #FFFFFF;
        }

        &__ico {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;

            & object {
                width: 100%;
            }
        }

        &__min-max {
            margin-top: 5px;
            font-size: 24px;
            line-height: 28px;
            display: flex;
        }

        &__day {
            margin-top: 20px;
            font-size: 18px;
            line-height: 21px;
            font-weight: 200;
            text-align: center;
        }
    }
}
