h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:hover,
*:focus {
    outline: 0;
    border: 0;
}

body {
    overflow: hidden;
    font-family: Roboto;
}

.container {
    max-width: 1215px;
    margin: 0 auto;
    width: 100%;
}
